@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(255, 255, 255);
  color: rgb(68, 68, 68);
}
#contenedor {
  max-width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
/* Notificaciones */
#notificaciones {
  background-color: #4cb828;
  text-align: center;
  border-radius: 5px;
  color: #fdf5f5;
}

/* LOGO */

#logo img {
  height: 55px;
  width: 75px;
  float: left;
}
/* ENCABEZADO */

#titulos{
    color: #6c6c6c;
}
header {
  height: 6em;
  background-color: rgb(31, 107, 60);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding-right: 10px;
}
#encabezado {
  font-size: 1em;
  text-align: right;
  line-height: 8em;
}

/* MENU */

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.navbar-left {
  float: left;
}

/* CUERPO */
#contenido {
  width: 98%;
  height: auto;
  padding-block-end: 1em;
  margin: 50px auto;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: rgb(255, 255, 255);
}

#ultimos_productos{
  /*TODO: acomodar las tarjetas de ultimos productos*/
}

.bloque {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#bloque_Max {
  width: 94%;

  margin-top: 2%;
  margin-right: 2%;
  margin-left: 3%;
  float: left;
  position: relative;
  background: rgb(255, 255, 255);

  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#contenido img {
  height: 40%;
  width: 40%;
  margin: 10px;
}
#contenido button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #015741;
  width: 281px;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
#contenido button:hover,
.form button:active,
.form button:focus {
  background: #5a7c4f;
}

/* CSS Producto */
#imagenes {
  width: 40%;
  height: 30em;
  float: left;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 2%;
  border-radius: 10px;
}

#imagenes .imagen__producto{
  width: 100%;
  height: 100%;
}


#categoria {
  width: 20%;
  padding: 20px;
  /* height: 30px; */
  margin-top: 2%;
  float: left;
  text-align: left;
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); */
}

#zoom_ingreso_texto {
 
  font-size: 22px;
}

.producto{
  display: flex;
  flex-direction: column;
  flex: 1 0;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.producto h1{
  display: block;
}

.lista_productos{
  display: block;
  
}

.detalle_producto{
  display: flex;
  justify-content: space-around;
}

.producto button {
  float: right;
  width: 190px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}


#crear_producto button {

  float: right;
  width: 150px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
#nombre_producto{
  padding: 10px;
  border-radius: 10px;
}
#seleccion_categoria{
  padding: 10px;
  border-radius: 10px;
}
#subir_imagen{
  padding: 10px;
  border-radius: 10px;
}
#crear_producto #imagenes {
  /* width: 40%; */
  /* height: 30em; */
  float: left;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 2%;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}
#imagenes label {
  display: inline-block;
  max-width: 100%;
  margin: 10px;
  font-weight: 700;
}

/* mas productos */
#mas_productos  {
  text-align: center;
  padding: 20px;
}
#mas_productos > a {
  color: #636963;
}
#mas_productos > a:hover {
  color: #12ac12;
  text-decoration: none;
}
/* CARRITO */

#contenido #button_quitar {
  /* font-family: "Roboto", sans-serif; */
  /* text-transform: uppercase; */
  /* outline: 0; */
  background: #d13434;
  width: 40px;
  /* border: 0; */
  padding: 15px;
  /* color: #ffffff; */
  /* font-size: 14px; */
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  /* cursor: pointer; */
  /* border-radius: 10px; */
  margin: 12px;
}
#contenido #button_vaciar {

    /* font-family: "Roboto", sans-serif; */
    /* text-transform: uppercase; */
    /* outline: 0; */
    background: #101010;
    /* width: 300px; */
    /* border: 0; */
    /* padding: 15px; */
    /* color: #ffffff; */
    /* font-size: 14px; */
    /* -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease; */
    /* cursor: pointer; */
    /* border-radius: 10px; */

}
#contenido #button_finalizar {
  /* font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0; */
  background: #4caf50;
  /* width: 300px;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px; */
}
#contenido #button_eliminar_producto {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #212020;
  width: 300px;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
/* responsive crear producto */
@media screen and (max-width: 650px){ 
      #nombre_producto {
          padding: 10px;
          width: 95%;
          height: 40px;
          border-radius: 10px;
      }
      #nombre_producto h2{
          height: 10px;
      }
      #crear_producto #imagenes {
          height: auto;
          
      }
}
/* responsive producto */
@media screen and (max-width: 650px){ 
  #imagenes{
  
      width: 94%;
      margin-top: 2% ;
      margin-left: 3%;  
      margin-right: 2%;  
    
  }
  #contenido img {
    height: 90%;
    width: 90%;
    margin: 10px;
}
  
#categoria {
  height: auto;
  width: 94%;
  margin-top: 2%;
  /* margin-left: 3%; */
  /* margin-right: 2%; */
  width: 100%;
  /* padding: 20px; */
  /* margin-top: 2%; */
  /* float: left; */
  text-align: center;
}

  #descripcion{
      height: auto;
      width: 94%;
      margin-top: 2% ;
      margin-left: 3%;  
      margin-right: 2%;
  }

  #precio {
      height: auto;
      width: 94%;
      margin-top: 2% ;
      margin-left: 3%;  
      margin-right: 2%; 
  }
  .producto button {
  
      height: auto;
      width: 94%;
      margin-top: 2% ;
      margin-left: 3%;  
      margin-right: 2%; 
  }
}
/* producto campos */


/* bloques del cuerpo responsive */
@media screen and (max-width: 650px) {
  .bloque {
    height: auto;
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 2%;
  }
}
/* PIE DE PAGINA */

.copyright {
  color: #101010;
}
footer {
  background-color: darkgray;
  text-align: center;
  border-radius: 5px;
}

/*  LOGIN   */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  color: #a7a7a7;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 4% 3% 3% 3%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form h2 {
  color:#b2ffa8;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;

  
}


/* Registro */
#registro {
  width: 94%;
  padding: 2em;
  border-radius: 10px;
  margin-top: 3em;
  margin-left: 3%;
  background-color: #ffffff;
  color: rgb(193, 193, 193);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#registro label {
  width: 80%;
  font-weight: bold;
  display: inline-block;
}

#registro input[type="text"],
#registro input[type="email"] {
  width: 100%;
  padding: 1em 1em;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

#registro input[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;

  margin-top: 32px;
}

#registro input[type="submit"]:hover {
  cursor: pointer;
}


#acercaDe p{
padding: 40px;
}