{% extends "layout/layout.html" %}
{% block body %}
<!--SECTION-->
<section id="contenido">
    <article>
        <h1>Carrito</h1>    
        <div id="bloque_Max">
            {% if carrito %}
                {% for producto in carrito %}
                    <h3>{{producto.titulo}} <br> {{producto.precio}}$</h3>
                    <hr>
                {% empty %}
                    <h3>El carrito está vacio</h3>
                {% endfor %}
            {% else %}
                <h3>El carrito está vacio</h3>
            {% endif %}
        </div>
    </article>
</section>
{% endblock %}