{% extends "layout/layout.html" %}
{% block body %}

<!--SECTION-->
<section id="contenido">
        <!--    CARGA DE PRODUCTOS  -->
        <div id="ultimos_productos">
            {% for producto in ultimos_productos %}
            <div id="bloque">
                <h2> {{ producto.titulo }} </h2>
                <img src="/JAGUARETE_APP{{ producto.imagen.url }}" alt="Imagen del producto">
                <button onclick="window.location='producto/{{ producto.id }}'">Ver</button>
            </div>
            <hr>
            {% empty %}
            <div id="bloque">
                <h2> Aun no hay productos cargados </h2>
                <img src="#" alt="No hay productos">
                <button>Ver</button>
            </div>
            <hr>
            {% endfor %}
        </div>

        <div id="bloque_Max">
            <h2>MÁS PRODUCTOS</h2>
            <ul>
                <a href="producto">Titulo producto</a>
                <a href="producto">Titulo producto</a>
                <a href="producto">Titulo producto</a>
                <a href="producto">Titulo producto</a>
            </ul>

        </div>
</section>


{% endblock %}