{% extends "layout/layout.html" %}
{% block body %}

<!--SECTION-->
<section id="contenido">
        <!--    CARGA DE PRODUCTOS  -->
        <h1 id="titulos">Ultimos productos</h1>
        <div id="ultimos_productos">
            {% for producto in ultimos_productos %}
            <div id="bloque">
                <h3 id="titulos"> {{ producto.titulo }} </h3>
                <img src="/JAGUARETE_APP{{ producto.imagen.url }}" alt="Imagen del producto">
              



            {%if not request.user.is_authenticated %}
                <button type="button" class="btn btn-success" role="link" onclick="window.location='/JAGUARETE_APP/login'">Ver</button>
               
            {%else%}
                  
                <button onclick="window.location='/JAGUARETE_APP/producto/{{ producto.id }}'">Ver</button>

            
            {%endif%}
        





            </div>
            <hr>
            {% empty %}
            <div id="bloque">
                <h2> Aun no hay productos cargados </h2>
                <img src="#" alt="No hay productos">
                <button>Ver</button>
            </div>
            <hr>
            {% endfor %}
        </div>

        <div id="bloque_Max">
            <h2 id="titulos">MÁS PRODUCTOS</h2>
            <ul id="mas_productos">
                {% for producto in otros_productos %}


                {%if not request.user.is_authenticated %}
                <a href="/JAGUARETE_APP/login">{{producto.titulo}} : {{producto.descripcion}}</a> <br>
                
                {%else%}
                  
                <a href="/JAGUARETE_APP/producto/{{ producto.id }}">{{producto.titulo}} : {{producto.descripcion}}</a> <br>

            
            {%endif%}

            {% empty %}
            <a>No hay mas productos</a>
                
                {% endfor %}
            </ul>

        </div>
</section>


{% endblock %}