{% extends "layout/layout.html" %}
{% block body %}
<!--SECTION-->
<!--
    TODO: que las imagenes carguen junto a la aplicacion
    quitar el "/JAGUARETE_APP"
-->
<section id="contenido">
    <article id="producto">
        <h1>{{ producto.titulo }}</h1>
        <div id="imagenes">
            <img src="/JAGUARETE_APP{{ producto.imagen.url }}" alt="Imagen de producto" class="imagen__producto">
        </div>
        <div id="categoria">
            <div id="descripcion">
                <h2>{{ producto.categoria }}</h2>
                <p>{{ producto.descripcion }}</p>
            </div> <br>
            <div id="comprar">
                <p id="precio">Precio: {{ producto.precio }}</p>
             {%if request.user.is_authenticated %}
                <!-- si no tiene permiso de ver al carrito -->
              {%if perms.JAGUARETE_APP.delete_producto%}
              <button type="button" class="btn btn-success" role="link"
              onclick="window.location='eliminar-producto'">Modificar</button><br>
           
              <button type="button" class="btn btn-success" role="link"
              onclick="window.location='modificar-producto'">Eliminar</button>
              {%endif%} 
              {%if perms.JAGUARETE_APP.view_carrito%}
              <button type="button" class="btn btn-success" role="link"
                  onclick="window.location='/JAGUARETE_APP/carrito/{{producto.id}}'">AGREGAR
                  AL
                  CARRITO</button>
             {%endif%} 
            {%endif%}
             
            </div>
        </div>
    </article>
</section>
{% endblock %}