{% extends "layout/layout.html" %}
{% block body %}
<!--SECTION-->
<section id="contenido">
    <article id="producto">
        <h1>{{ producto.titulo }}</H1>
        <div id="imagenes">
            <img src="" alt="">
        </div>
        <div id="categoria">
            <div id="descripcion">
            <h2>Categoria</h2>
            <p>{{ producto.descripcion }}</p>
        </div> <br>
        <div id="comprar">
            <p id="precio">Precio: {{ producto.precio }}</p>

            <button type="button" class="btn btn-success" role="link" onclick="window.location='Carrito.html'">AGREGAR
            AL
            CARRITO</button>
        </div>
        </div>
    </article>
</section>
{% endblock %}